{% extends 'myadmin/base.html' %}
{% load tags %}
{% block center %}
    <form method="post" id="action_form">
        {% csrf_token %}
        <!--action-->
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <select name="action" class="form-control ">
                    <option value="">----</option>
                    {% get_action obj %}
                </select>
            </div>
            <button type="submit" class="btn">执行</button>
            <a href="add/">
                <button type="button" class="btn btn-success pull-right">+ Add</button>
            </a>
        </div>
        <!--action-->
        <table class="table table-hover" style="margin-top: 50px">
            <thead>
            <tr class="info">
                <td><input id="check_all" type="checkbox"></td>
                {% for i in obj.list_display %}
                    <th>{{ i }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for i in contacts %}
                <tr>
                    <td>
                        <label><input name="selected_action" value="{{ i.id }}" class="checkbox" id="{{ i.id }}"
                                      type="checkbox"/></label>
                    </td>
                    {% for item in obj.list_display %}
                        <td><a href="{{ i.id }}/change/">{% obj_getattr i item %}</a></td>
                    {% endfor %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <!--分页-->
        <div class="pagination">
            <span class="step-links">
                {% if contacts.has_previous %}
                    <a href="?page={{ contacts.previous_page_number }}">上一页</a>
                {% endif %}

                <span class="current">
                    第{{ contacts.number }}页
                </span>

                {% if contacts.has_next %}
                    <a href="?page={{ contacts.next_page_number }}">下一页</a>
                {% endif %}
                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span>共：{{ contacts.paginator.num_pages }}页.</span>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span>{{ contacts.paginator.count }}条</span>
            </span>
        </div>
        <!--分页-->
    </form>
{% endblock %}
{% block script %}
    <script>
        $("#check_all").click(function () {
            if ($(this).prop('checked')) {
                $(':checkbox').prop('checked', true);
            } else {
                $(':checkbox').attr('checked', false)
            }

        });

        function go() {
            var check_list = [];
            $(".checkbox:checked").each(function () {
                check_list.push($(this).prop('id'))
            });
            if (check_list.length == 0) {
                console.log('请选择id');
                return
            }
            if ($(":selected").attr('func')) {
                $("#action_form").submit()
            } else {
                console.log('请选择action');
                return
            }
        }
    </script>
{% endblock %}